html,body{
  margin: 0;
  padding: 0;
}

:root{
  --background: #7ACC2D;
}

.container{
  width: 80%;
  margin: auto;
}

.row{
  display: flex;
  margin-bottom: 90px;
}

.col-1{
  width: 8,3333333%;
}

.col-2{
  width: 16,666666%;
}

.col-3{
  width: 24,999999%;
}

.col-4{
  width: 33,333333%;
}

.col-5{
  width: 41,666666%;
}

.col-6{
  width: 49,999999%;
}

.col-7{
  width: 58,3333333%;
}

.col-8{
  width: 66,6666666%;
}

.col-9{
  width: 74,9999999%;
}

.col-10{
  width: 83,3333333%;
}

.col-11{
  width: 91,6666666%;
}

.col-12{
  width: 100%;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  padding: 15px;
}

.main_description{
  height: 180px;
  display: flex;
  align-items: center;
  margin-left: 125px;
}

figure .product_images{
  margin-top: -80px;
  width: 230px;
}

@media screen and (max-width: 1020px){

}

@media screen and (max-width: 768px){
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding: 15px;
  }

  .main_description{
    text-align: center;
  }

  .row{
    display: inline-block;
    text-align: center;
    margin-top: -50px;
  }

  figure .product_images{
    width: 120px;
    height: 120px;
    margin-top: 0px;
  }

}

@media screen and (max-width: 468px){
  
}

@media screen and (max-width: 320px){
  
}